@charset "UTF-8";


.wrapper {
  background-color: #f4f4f4;
}

.title {
  font-size: 50px;
  font-family: Sitka Banner;
  line-height: 50px;
  letter-spacing: 5px;
  color: #374818;
}

.subtitle {
  font-size: 24px;
  text-transform: uppercase;
  font-family: Times New Roman;
  font-weight: 400;
  color: #374818;
}

.text {
  font-size: 25px;
  line-height: 25px;
  font-family: Times New Roman;
  font-weight: 400;
  color: #000000;
}

.link {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 7px;
  font-family: Times New Roman;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 767px) {
  .link:hover {
    color: #374818;
    text-shadow: 0 2px 4px #3748185b, 0 3px 3px #3748185b;
    letter-spacing: 8px;
  }
}

.link:active {
  color: #374818;
  letter-spacing: 8px;
}

.over {
  font-size: 30px;
  font-family: Arial;
  font-weight: 400;
  color: #a0b458;
  margin-left: 100px;
  position: relative;
  display: inline;
  padding: 10px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}

@media (min-width: 767px) {
  .over::before {
    content: '';
    width: 112px;
    height: 2px;
    background-color: #374818;
    position: absolute;
    left: -130px;
    top: 50%;
    margin-top: -2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .over:hover {
    color: #374818;
    margin-left: -20px;
  }
  .over:hover::before {
    left: 275px;
  }
}

.over:active {
  color: #374818;
}

.heading {
  font-size: 12px;
  font-family: Times New Roman;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  padding-right: 7px;
}

.box-title {
  font-size: 22px;
  font-family: Times New Roman;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #444343;
}

.box-subtitle {
  font-size: 13px;
  font-family: Times New Roman;
  font-weight: 400;
  color: #808080;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.box-text {
  font-size: 14px;
  font-family: Times New Roman;
  font-weight: 400;
  color: #6d6d6d;
  line-height: 14px;
  letter-spacing: 0.3px;
}

.mess {
  font-size: 15px;
  font-family: Times New Roman;
  font-weight: 400;
  color: #fff;
  line-height: 18px;
  letter-spacing: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mess-text {
  font-size: 15px;
  font-family: Times New Roman;
  font-weight: 400;
  color: #bdbebf;
  line-height: 18px;
  letter-spacing: 3px;
}

.mess-title {
  font-size: 15px;
  font-family: Times New Roman;
  font-weight: 400;
  color: #bdbebf;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body.lock {
  overflow: hidden;
}

.header__menu {
  position: fixed;
  top: 0%;
  left: 100%;
  width: 30%;
  height: 100%;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
  overflow: auto;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu.active {
  left: 70%;
}

.header__burger {
  cursor: pointer;
  display: block;
  left: 0%;
  top: 0%;
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 3;
}

@media (min-width: 767px) {
  .header__burger:hover span {
    background-color: #a0b458;
  }
}

.header__burger:active span {
  background-color: #374818;
}

@media (min-width: 767px) {
  .header__burger:hover::after {
    background-color: #a0b458;
  }
  .header__burger:hover::before {
    background-color: #a0b458;
  }
}

.header__burger:active::after {
  background-color: #374818;
}

.header__burger:active::before {
  background-color: #374818;
}

.header__burger span {
  border-radius: 2px;
  background-color: #111111;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 13.5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 2px;
}

.header__burger::after,
.header__burger::before {
  content: '';
  border-radius: 2px;
  background-color: #111111;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::after {
  bottom: 10%;
}

.header__burger::before {
  top: 10%;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12.5px;
  background-color: red;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 12.5px;
  background-color: red;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f4f4f4;
}

.header__conteiner {
  max-width: 1800px;
  padding: 15px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  max-width: 60%;
  cursor: pointer;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  margin-right: 50px;
}

.nav-icon a {
  font-size: 2rem;
  color: #111111;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 767px) {
  .nav-icon a:hover {
    color: #a0b458;
  }
}

.nav-icon a:active {
  color: #374818;
}

.search__label a span {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: block;
}

@media (min-width: 767px) {
  .search__label a span:hover::before {
    border: 3px solid #a0b458;
  }
}

@media (min-width: 767px) {
  .search__label a span:active::before {
    border: 3px solid #374818;
  }
}

@media (min-width: 767px) {
  .search__label a span:hover::after {
    background-color: #a0b458;
  }
}

@media (min-width: 767px) {
  .search__label a span:active::after {
    background-color: #374818;
  }
}

.search__label a span::before {
  content: '';
  top: 0;
  left: 50%;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid #000;
  border-radius: 100%;
  margin-right: -20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search__label a span::after {
  content: '';
  top: 75%;
  left: 25%;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: -20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__field.focus {
  opacity: 1;
  visibility: visible;
  width: 250px;
  padding: 14px 20px;
  margin-right: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search__field {
  width: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  letter-spacing: 0.5px;
}

.heder__list {
  height: 70%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 20px 50px 20px;
}

.top {
  margin-top: 89px;
}

.top__conteiner {
  max-width: 1800px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-top {
  position: relative;
  height: 100%;
}

.img-top-box {
  height: 100%;
  width: 110%;
  background-color: rgb(105, 105, 105);
  height: 100%;
  position: relative;
}

.img-top__heading {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 100%;
  margin-top: -60px;
  right: -7%;
}

.top__img {
  max-width: 62%;
}

.top__img img {
  max-width: 100%;
}

.nav-top {
  text-align: end;
  width: 25%;
}

.nav-top__box {
  margin-right: -7px;
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .nav-top__box:hover .nav-top__title .nav-top__heading {
    color: #374818;
    font-weight: 800;
    letter-spacing: 5px;
  }
  .nav-top__box:hover .nav-top__title .nav-top__heading::before {
    opacity: 1;
    visibility: visible;
  }
}

.nav-top__heading {
  display: inline-block;
  margin-bottom: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.nav-top__heading::before {
  content: '';
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 3px;
  background-color: #a0b458;
  position: absolute;
  left: -3%;
  bottom: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-top__list li {
  margin: 15px 0px;
}

.about__conteiner {
  max-width: 1800px;
  padding: 50px 15px 0px 15px;
  margin: 0 auto;
}

.about__top {
  text-align: center;
}

.about__title {
  margin: 140px 0px 230px 0px;
  position: relative;
}

@media (min-width: 767px) {
  .about__title::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 102px;
    background-color: #374818;
    top: -120px;
    left: 50%;
    margin-left: -1.5px;
  }
  .about__title::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 52px;
    background-color: #374818;
    bottom: -60px;
    left: 50%;
    margin-left: -1.5px;
  }
}

.title-about {
  letter-spacing: 0;
}

.about__row {
  margin-bottom: 150px;
}

.row-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
}

.row-about:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.row-about__info {
  max-width: 40%;
  text-align: start;
}

.row-about__subtitle {
  margin-bottom: 10px;
}

.row-about__title {
  margin-bottom: 5px;
}

.row-about__text {
  margin: 10px 0px 15px 0px;
}

@media (min-width: 767px) {
  .about__row:hover .row-about__info .row-about__subtitle .subtitle-row-about {
    color: #374818;
    font-weight: 800;
    letter-spacing: 5px;
  }
  .about__row:hover .row-about__info .row-about__subtitle .subtitle-row-about::before {
    opacity: 1;
    visibility: visible;
  }
}

.subtitle-row-about {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
}

.subtitle-row-about::before {
  content: '';
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 3px;
  background-color: #a0b458;
  position: absolute;
  left: -3%;
  bottom: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.row-about__img {
  max-width: 50%;
}

.row-about__img img {
  max-width: 100%;
  border-radius: 10px;

}

.reviews__conteiner {
  max-width: 1800px;
  padding: 20px 15px 160px 15px;
  margin: 0 auto;
}

.reviews__body {
  position: relative;
}

@media (min-width: 767px) {
  .reviews__body::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 550px;
    background-color: #374818;
    top: -150px;
    left: 50%;
    margin-left: -1.5px;
    z-index: 2;
  }
}

.reviews__subtitle {
  text-align: center;
  margin-bottom: 180px;
  position: relative;
}

@media (min-width: 767px) {
  .reviews__subtitle::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 650px;
    background-color: #374818;
    bottom: -683px;
    left: 50%;
    margin-left: -1.5px;
    z-index: 2;
  }
}

.reviews__img {
  margin-top: 180px;
  position: relative;
}

.reviews__img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #eef4d8;
  opacity: 0.37;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

.reviews__img::after {
  content: 'ОТЗЫВЫ КЛИЕНТОВ';
  z-index: 3;
  left: 50%;
  top: -200px;
  margin-left: -120px;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 24px;
  text-transform: uppercase;
  font-family: Times New Roman;
  font-weight: 400;
  color: #374818;
}

.reviews__img img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .reviews__img:hover::before {
    opacity: 0.65;
  }
  .reviews__img:hover::after {
    margin-left: -175px;
    text-transform: uppercase;
    font-family: Times New Roman;
    font-weight: 400;
    font-size: 36px;
    z-index: 3;
    color: #374818;
    left: 50%;
    top: 50%;
    opacity: 1;
    visibility: visible;
  }
}

.reviews__img:active {
  opacity: 0.65;
}

.price__conteiner {
  max-width: 1800px;
  padding: 20px 15px 160px 15px;
  margin: 0 auto;
}

.price__body {
  background-color: #eef4d8;
  border-radius: 40px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.price__box {
  padding: 40px 30px 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (min-width: 767px) {
  .price__box::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 90%;
    background-color: #374818;
    bottom: 50%;
    margin-bottom: -72.5px;
    left: 25px;
    top: 5%;
    margin-left: -1.5px;
  }
}

.button-price {
  padding: 20px 35px 20px 35px;
  background-color: #647734;
  border: 5px solid #647734;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 767px) {
  .button-price:hover {
    padding: 20px 45px;
    background-color: #a0b45800;
    color: #647734;
  }
}

.button-price:active {
  opacity: 0.4;
}

.news__conteiner {
  max-width: 1920px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.news__top {
  margin: 0px 60px;
  text-align: center;
}

.news__title {
  margin: 140px 0px 130px 0px;
  position: relative;
}

@media (min-width: 767px) {
  .news__title::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 102px;
    background-color: #374818;
    top: -120px;
    left: 50%;
    margin-left: -1.5px;
  }
  .news__title::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 52px;
    background-color: #374818;
    bottom: -60px;
    left: 50%;
    margin-left: -1.5px;
  }
}

.title-news {
  letter-spacing: 0;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 150px 0px;
}

.box-news__description {
  max-width: 360px;
}

.news__box {
  margin: 0px 56px;
}

.box-news__img img {
  max-width: 100%;
  border-radius: 10px;
}

.box-news__subtitle {
  margin-top: 15px;
}

.box-news__title {
  margin-top: 15px;
}

.box-news__text {
  margin-top: 20px;
}

.dowload__button {
  text-align: center;
  margin-bottom: 100px;
}

.button-dowload {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 767px) {
  .button-dowload:hover {
    color: #374818;
    text-shadow: 0 2px 4px #3748185b, 0 3px 3px #3748185b;
    letter-spacing: 8px;
  }
}

.button-dowload:active {
  color: #374818;
  letter-spacing: 8px;
}

.dowload__bacground {
  background-color: #bdbebf;
  padding: 70px 0px;
}

.dowload__img {
  width: 60%;
}

.dowload__img img {
  max-width: 100%;
  border-radius: 10px;
}

.dowload__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.dowload__description {
  text-align: center;
  width: 40%;
}

.description-dowload__title {
  padding: 30px;
  margin-bottom: 80px;
}

.title-description-dowload {
  color: #404040;
}

.description-dowload__subtitle {
  margin-bottom: 80px;
}

.subtitle-description-dowload {
  letter-spacing: 2.5px;
  word-spacing: 20px;
  line-height: 30px;
  color: #464646;
}

.button-description-dowload {
  padding: 20px 15px;
  border: 2px solid #0d0d0d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #0d0d0d;
}

@media (min-width: 767px) {
  .button-description-dowload:hover {
    letter-spacing: 2px;
    background-color: #0d0d0d;
    color: #f4f4f4;
  }
}

.button-description-dowload:active {
  background-color: #374818;
  color: #f4f4f4;
}

.footer {
  background-color: #696969;
}

.footer__conteiner {
  max-width: 1600px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.footer__body {
  padding: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
}

.footer__column:nth-child(1) {
  max-width: 400px;
}

.footer__column:nth-child(1) .column-footer__text {
  margin-top: 50px;
}

.footer__column:nth-child(1) .column-footer__text:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 767px) {
  .column-footer__link:hover .column-footer__link-icon {
    color: #a0b458;
  }
  .column-footer__link:hover .column-footer__link-text p {
    color: #a0b458;
  }
}

.column-footer__link:active .column-footer__link-icon {
  color: #374818;
}

.column-footer__link:active .column-footer__link-text p {
  color: #374818;
}

.column-footer__link-icon {
  font-size: 28px;
  margin-right: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.download {
  position: relative;
}

.button__btn {
  padding: 5px 20px 30px 10px;
  position: absolute;
  top: 72%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  padding: 5px;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */

.shadow {
  transition: .3s;
}

.shadow:hover {
  border: none;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: .3s;
}
